# General
.DS_Store
Thumbs.db
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log
